<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Dominion Simulator</title>
    <!-- https://purecss.io/ -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
      integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css"
    />
    <!-- custom css -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  </head>
  <body>
    <div id="main">
      <h3> p1 Rules </h3>
      <div id="first-player-row" class="pure-g">
        <div id="player-one-conditions" class="gain-conditions"></div>
      </div>
      <h3> p2 Rules </h3>
      <div id="second-player-row" class="pure-g">
        <div id="player-two-conditions" class="gain-conditions"></div>
      </div>
      
    </div>
    <hr />
    <h3> Event Queries </h3>
    <div id="event-queries" class="pure-g"></div>
    <div id="event-query-results" class="pure-g"></div>
    <div class="play-game" class="pure-g">
      <div>
        <button id="play-game-btn" class="pure-button">Sim 1</button>
        <button id="play-game-btn-100" class="pure-button">Sim 100</button>
        <button id="play-game-btn-1000" class="pure-button">Sim 1000</button>
      </div>
      <div id="game-results"></div>
    </div>
  </body>
  <script src="scripts/http.js"></script>
  <script src="scripts/orderedConditionGaining.js"></script>
  <script src="scripts/eventQuerying.js"></script>
  <script src="scripts/game.js"></script>
</html>
