<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Dominion Simulator</title>
    <!-- https://purecss.io/ -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
      integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css"
    />
    <!-- custom css -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  </head>
  <body>
    <div id="main">
      <h3>
        p1
        <sup
          ><button id="p1-rule-collapse" class="pure-button collapse-button">
            [-]
          </button></sup
        >
      </h3>
      <div id="first-player-row" class="pure-g">
        <div id="player-one-conditions" class="gain-conditions">
          <div id="player-one-starting-deck" class="starting-deck">
            <form class="pure-form">
              <input
                name="p1-starting-deck"
                id="p1-starting-deck"
                class="starting-deck-input"
                type="text"
                value="7 Copper, 3 Estate"
              />
            </form>
          </div>
        </div>
      </div>
      <h3>
        p2
        <sup
          ><button id="p2-rule-collapse" class="pure-button collapse-button">
            [-]
          </button></sup
        >
      </h3>
      <div id="second-player-row" class="pure-g">
        <div id="player-one-starting-deck" class="starting-deck"></div>
        <div id="player-two-conditions" class="gain-conditions">
          <div id="player-one-starting-deck" class="starting-deck">
            <form class="pure-form">
              <input
                name="p2-starting-deck"
                id="p2-starting-deck"
                class="starting-deck-input"
                type="text"
                value="7 Copper, 3 Estate"
              />
            </form>
          </div>
        </div>
      </div>

      <hr />
      <h3>
        Event Queries
        <button id="add-event-query" class="pure-button add-event-query">
          + query
        </button>
      </h3>

      <div id="event-queries"></div>
      <div class="play-game" class="pure-g">
        <button id="play-game-btn" class="pure-button">Sim 1</button>
        <button id="play-game-btn-100" class="pure-button">Sim 100</button>
        <button id="play-game-btn-1000" class="pure-button">Sim 1000</button>
        <button id="play-game-btn-10000" class="pure-button">Sim 10000</button>
        <label for="sample-log-select">
          <input
            checked
            type="checkbox"
            id="sample-log-select"
            name="sample-log-select"
          />
          Sample Log
        </label>

        <label for="sample-log-select">
          <input
            name="turn-limit"
            id="game-turn-limit"
            class="number-input-raw"
            type="number"
            value="99"
          />
          Turn Limit
        </label>
        <div id="game-results"></div>
        <div id="sample-log"></div>
      </div>
    </div>
  </body>
  <script src="scripts/http.js"></script>
  <script src="scripts/orderedConditionGaining.js"></script>
  <script src="scripts/eventQuerying.js"></script>
  <script src="scripts/game.js"></script>
</html>
