<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Users</title>
    <!-- https://purecss.io/ -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css">
    <!-- custom css -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  </head>
  <body>
    <div id="main" class="pure-g">
      <div id="player-one-conditions" class="pure-u-1-3"></div>
      <div id="player-two-conditions" class="pure-u-1-3"></div>
      <div class="play-game" class="pure-u-1-3">
        <div>
          <button id="play-game-btn">Play Game</button>
        </div>
        <div id="game-results"></div>
      </div>
    </div>
  </body>
  <script src="scripts/http.js"></script>
  <script src="scripts/game.js"></script>
  <script src="scripts/orderedConditionGaining.js"></script>
</html>
