body {
  padding: 75px;
  font:
    14px "Lucida Grande",
    Helvetica,
    Arial,
    sans-serif;
}

.card-input {
  width: 115px;
}

.smaller-card-input {
  width: 65px;
}

.number-input {
  width: 60px;
}

.delete-rule {
  margin-left: 5px;
  margin-right: 5px;
}

.gain-arrow-text {
  margin-left: 5px;
  margin-right: 5px;
}

#player-one-conditions {
  padding-bottom: 35px;
}

.ordered-gain-rule {
  padding-bottom: 7px;
}

.logical-joiner {
  margin-left: 8px;
  margin-right: 8px;
}

.add-rule {
  margin-left: 5px;
}

.gain-conditions {
  float: right;
}
