body {
  padding: 30px;
  font:
    14px "Lucida Grande",
    Helvetica,
    Arial,
    sans-serif;
}

.card-input {
  width: 105px;
}

.smaller-card-input {
  width: 65px;
}

.medium-card-input {
  width: 85px;
}

.number-input {
  width: 55px;
}

.delete-rule {
  margin-left: 5px;
  margin-right: 5px;
}

.gain-arrow-text {
  margin-left: 5px;
  margin-right: 5px;
}

#player-one-conditions {
  padding-bottom: 0px;
}

.ordered-gain-rule {
  padding-bottom: 7px;
}

.logical-joiner {
  margin-left: 8px;
  margin-right: 8px;
}

.add-rule {
  margin-left: 5px;
}

.gain-conditions {
  float: right;
}

.play-game {
  margin-top: 15px;
}

#add-event-query-div {
  margin-top: 5px;
  margin-bottom: 5px;
}

.result-query-form-div {
  margin-bottom: 5px;
}

.event-with-label {
  padding-left: 5px;
  padding-right: 5px;
}

.by-turn-label {
  padding-left: 5px;
  padding-right: 5px;
}
